@keyframes type1 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blink {
    100% {
        opacity: 0
    }
}

@keyframes text-fly-in {
  0% {
    opacity: 0;
    width: 0%;
    text-align: center;
  }

  10% {
    opacity: .1;
    width: 10%;
    text-align: center;
  }

  20% {
    opacity: .2;
    width: 20%;
    text-align: center;
  }

  30% {
    opacity: .3;
    width: 30%;
    text-align: center;
  }

  40% {
    opacity: .4;
    width: 40%;
    text-align: center;
  }

  50% {
    opacity: .5;
    width: 50%;
    text-align: center;
  }

  60% {
    opacity: .6;
    width: 60%;
    text-align: center;
  }

  70% {
    opacity: .7;
    width: 70%;
    text-align: center;
  }

  80% {
    opacity: .8;
    width: 80%;
    text-align: center;
  }

  90% {
    opacity: .9;
    width: 90%;
    text-align: center;
  }

  100% {
    opacity: 1;
    width: 100%;
    text-align: center;
  }
}

@keyframes text-fly-out {
  0% {
    opacity: 1;
    width: 100%;
    text-align: center;
  }

  10% {
    opacity: .9;
    width: 90%;
    text-align: center;
  }

  20% {
    opacity: .8;
    width: 80%;
    text-align: center;
  }

  30% {
    opacity: .7;
    width: 70%;
    text-align: center;
  }

  40% {
    opacity: .6;
    width: 60%;
    text-align: center;
  }

  50% {
    opacity: .5;
    width: 50%;
    text-align: center;
  }

  60% {
    opacity: .4;
    width: 40%;
    text-align: center;
  }

  70% {
    opacity: .3;
    width: 30%;
    text-align: center;
  }

  80% {
    opacity: .2;
    width: 20%;
    text-align: center;
  }

  90% {
    opacity: .1;
    width: 10%;
    text-align: center;
  }

  100% {
    opacity: 0;
    width: 0%;
    text-align: center;
  }
}
