body {
  margin: 0;
}

section {
  img {
    width: 250px;
  }

  h3, span {
    position: relative;
    z-index: 9999;
  }

  h3 {
    font-family: $header-font-family;
  }

  a, i {
    color: #333;
    transition: .5s;

    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }

  span {
    font-family: $subtitle-font-family;
    color: $subtitle-color;
  }

  p {
    font-family: $paragraph-font-family;
    color: $paragraph-color;
    line-height: 2.5em;
  }

  strong {
    font-family: $strong-font-family;
    color: $strong-color;
  }

  .container {
    padding: 5vh;

    .row {
      display: inline;

      .col-xs-6 {
        text-align: center;
      }

      .col-xs-3:last-of-type {
        float: right;
      }

      .section-title {
        padding: 2vh 15vw;
        line-height: 3em;
      }
    }
  }

  .quote-container {
    padding: 20vh 15vw;
    line-height: 2em;

    span:first-of-type {
      color: $strong-color;
    }
  }
}

.text-link {
  margin: 0 5vw 0 0;
  background: transparent;

  a {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    text-decoration: none;
    color: #000;

    span {
      font-family: $link-font-family;
      color: $link-color;
      font-weight: 500;
      background-image: linear-gradient(180deg, transparent 65%, #333 0);
      background-size: 0% 100%;
      -moz-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
      -o-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
      -ms-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
      -webkit-transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
      transition: 0.3s cubic-bezier(0.5, 0.61, 0.355, 1) background;
      background-repeat: no-repeat;
      padding-bottom: 0;
    }

    &:hover {
      opacity: 1;

      span {
        background-size: 100% 100%;
      }
    }
  }
}

.blank-space {
  margin: 14em 0;

  span.year {
    font-family: $subtitle-font-family;
    font-size: 19vw;
    color: #333;
    opacity: .5;
    padding-left: 8vw;
  }
}

.fa-github, .fa-linkedin, .fa-file-text {
  display: inline;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 1em;
  text-align: center;
  font-size: 5vw;
}
