#welcome {
  .blinking-cursor {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite;
    display: inline;
    font-size: 1em;
  }

  .type-1-animation {
      -webkit-animation: type1 4s steps(400, end);
      animation: type1 4s steps(400, end);
  }

  .welcome-text {
    color: $header-color;
    padding: 5vw;

    h1 {
      font-size: 5vw;
      white-space: nowrap;
      overflow: hidden;
      font-weight: 300;
      font-family: $header-font-family;
    }
  }
}
